<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/board.css"/>
    <link rel="stylesheet" href="/css/footer.css"/>
    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="/common/js/common.js" defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <style>


        .page-num a {
            display: inline-block;
            padding: 8px 12px;
            margin: 2px;
            background-color: #fff;
            color: #333;
            text-decoration: none;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .page-num.active a {
            background-color: #007bff;
            color: #fff;
        }

        .on {
            background-color: #FF7000;
          color: #FF7000;
        }
    </style>

</head>
<body>
<div class="header"></div>

<main style="height: 1200px; padding-bottom: 80px;" >
    <div class="board-content-container">
        <div class="left-background"></div>
        <div class="board-top-img">
            <figure>
                <img src="/board/img/boardNoticeImg.jpg" alt="상단 사진">
            </figure>
            <div class="board-banner-title">
                <p>안녕하세요? 무엇을 도와드릴까요?</p>
                <p>공지사항을 확인해주세요</p>
            </div>
        </div>
        <!-- <div class="right-background"></div> -->

        <div class="board-a-btn">
            <a href="/board/html/boardFAQ.html">
                <div class="board-a">
                    <dl >
                        <dt>
                            <img src="/board/img/FAQ-button.png" alt="FAQ 이동">
                        </dt>
                        <dd><strong>자주 묻는 질문</strong></dd>
                        <dd>FAQ</dd>

                    </dl>
                </div>
            </a>
            <a href="/board/html/boardNotice.html">
                <div class="board-a">
                    <dl style="border: 2px solid #FF7000;">
                        <dt>
                            <img src="/board/img/Notice-button.png" alt="FAQ 이동">
                        </dt>
                        <dd><strong>공지사항</strong></dd>
                        <dd>Notice</dd>

                    </dl>
                </div>
            </a>
            <a href="/board/html/boardServiceReview.html">
                <div class="board-a">
                    <dl >
                        <dt>
                            <img src="/board/img/Review-button.png" alt="FAQ 이동">
                        </dt>
                        <dd><strong>서비스 이용 후기</strong></dd>
                        <dd>Review</dd>

                    </dl>
                </div>
            </a>
        </div>
    </div>



    <!-- 공지사항 영역 -->
    <div class="Notice-container">
        <div class="notice-title-search">
            <div class="Notice-title">
                <h3>공지사항</h3>
            </div>
            <div class="Notice-search">
                <form action="" method="">
                    <select name="noticeSearch" class="notice-select-search">
                        <option value="noticeTitle">제목</option>
                        <option value="noticeContent">내용</option>
                    </select>
                    <input type="text" class="notice-search-bar" name="noticeSearchByTitleAndContent">
                    <button class="notice-search-btn">
                        검색
                    </button>
                </form>
            </div>
        </div>
        <div class="notice-section">
            <table  class="board-table">



            <tbody class="content">



            </tbody>
            </table>

        </div>

        <!-- 페이징처리 -->
        <div class="board-pagenation-container">
            <ul>

            </ul>
        </div>

    </div>
</main>
<div class="footer"></div>

<script>



    //page 변수를 처음부터 1로 초기화
    //첫화면부터 1페이지로 보이게끔 ㅇㅇ
    $(document).ready(function () {
        loadPage(1);

    });


    $(document).on('click', '.page-num a', function (e) {
        e.preventDefault();
        const page = $(this).data('num');
        loadPage(page);


    });



    function loadPage(page) {
        $.ajax({
            url: `/notices/list/${page}`,
            type: 'get',
            dataType: 'json',
            success: function (result) {
                console.log(result.pageVo);
                console.log(result.boardList);
                noticeList(result);



               // $('.page-num a').each(function (){
               //     let ii = $('.page-num a').text();
               //     for(let count =0;count<page;count++){
               //         if(ii[count]==page){
               //             console.log(page);
               //             console.log(ii[count]);
               //              console.log(this)
               //             $(this).css('background-color', 'red');
               //
               //         }
               //     }
               // })




            },
            error: function (a, b, c) {
                console.error(c);
            }
        });
    }



    function noticeList(result) {
        let text = '';

        result.boardList.forEach(r => {
            text += `
                <tr>
                    <td>${r.boardNumber}</td>
                    <td><a href="/notice/detail?boardNumber=${r.boardNumber}"><strong>${r.boardTitle}</strong></a></td>
                    <td>${r.boardContent}</td>
                    <td>${r.boardRegisterDate}</td>
                    <td>${r.boardCount}</td>
                </tr>
            `;
        });

        $('.content').html(text);
        updatePagination(result.pageVo);
    }

    function updatePagination(pageVo) {
        let $pagenation = $('.board-pagenation-container ul');
        $pagenation.empty();

        if (pageVo.prev) {
            $pagenation.append(`
                <li class="page-num"><a href="#" data-num="${pageVo.startPage-1}">&lt;</a></li>
            `);
        }

        for (let page = pageVo.startPage; page <= pageVo.endPage; page++) {


                $pagenation.append(`
                    <li class="page-num "><a href="#" class="on" data-num="${page}">${page}</a></li>
                `);

        }

        if (pageVo.next) {
            $pagenation.append(`
            <li class="page-num"> <a href="#" data-num="${pageVo.endPage+1}">&gt;</a></li>
            `);
        }
    }
</script>
</body>
</html>